<div class="cotainer-fluid">
<!--
  <div class="row mt-3 mb-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <div class="card">
    <div class="card-header">
  <h2>Form</h2>
    </div>
    <div class="card-body">
      <form action="">
        <div class="mb-2">
          <label for="nameChamp" class="form-label">Name Champ: {{nameChamp.value}}</label>
          <input id="nameChamp" type="text" placeholder="Name" class="form-control" [formControl]="nameChamp" >
        </div>        
      </form>
      <button class="btn btn-outline-primary" type="button" (click)="updateNameChamp()">Update Name</button>
    </div>
    <div class="card-footer">

    </div>
  </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <app-reactive-form-group></app-reactive-form-group>

  <app-form-nested></app-form-nested>-->

  <app-form-builder></app-form-builder>

  
</div>